


.topnav{
font-size: 40px;
background-color:black;
/*background-color:#E80000;*/
position: fixed;
font-family: Helvetica ;
color: azure;
text-align: end;
position: fixed;
top: 0;
padding: -15px 100px;
width: -webkit-fill-available;
height: 40px;
z-index: 30;
height: 6vh;
background-color: #333;

}
/*ul{
  
list-style-type: none;
margin-top: -10px;
padding: 0;

 

}


li{
    margin: 10px;
    padding: 0;
    display: inline-block;


}*/
li{
cursor: pointer
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  z-index: 10
}

li {
  float: left;
  cursor: pointer
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.vbar{ 
    color: azure;
    font-size: 40px;
    font-family: Helvetica ;
    background-color: #4d4d4d;
    position: fixed;
    top: 71px;
    height: 100%;

  
    width: 290px;
 background: size 120px;
 margin-top: -30px;
    
    
    
}
.main{
    margin-left: 290px;
    margin-top: 70px;
}
body{
    background-image: url('back4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 35vh;
    font-size: 100px;
    color:azure;
    font-family: Helvetica ;
    position: auto;
    left: 50px;
    top: 10px;
    opacity: 0.8;
}
h2{
    font-size: 100px;
    color: azure;
    font-family: Helvetica ;
    position: absolute;
    left: 20px;
    top: 470px;
    opacity: 0.8;
}
#hbtn{
    margin-left:1000px;
    margin-top: 190px;
    font-size: 55px;
    padding: 5px 70px;
    background-color: black;
    border-radius: 20px;
    color: azure;
    opacity: 0.8;
}

.best{
    display: inline;
    list-style-type: none ;
}
.column {
    display: grid;
    grid-template-columns: auto auto auto
}
img{
   margin: auto;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   /* border-radius: 5%; */
   width:400px;
   height:200px;
   border: 2px solid  rgba( 232, 0,0,1)  ;
   display: flex ;
    /* border-color: #e80000; */
}



  img:hover {
    transform: scale(1.3); 
   }
    
  
input{
    margin-left: 240px;
    margin-bottom:35px ;
    /*background-color: #e80000;*/
     background-color: black;
    color: azure;
    font-size: 30px;
    /*border: red;
*/
}

.about{
    background-color:black;
    font-size:60px;
    color:azure;
    border-style: solid;
    opacity: 0.8;
    border-radius: 10px;
    position: relative;
    top: 30vh;
    left: -5vw
     }
     
     h3{
         font-size: 60px;
         color: red ;
     }
     h4{
         font-size: 30px;
     }

     .fr{
      position: relative;
        background-color:grey;
        margin-top: 10vh;
        font-size:40px;
        color:black;
        border-style: solid;
        opacity: 0.8;
        border-radius: 10px;
        left: -5vw
       
        }
     
         
         
         h5{
             font-size: 40px;
             color: green;
         }

         h6{
             font-size: 30px;
             color: green;
         }

         


   p {
       color:azure;
       font-size: 60px;
       font-family: Arial, Helvetica, sans-serif;

   }  
#key,
#ms, 
#hd,
#mp{
        position: relative;
    top: 200px
}
         #lg {
                position: relative;
    left: 9em;
    top: -10em;
         }


         
label {
  color: azure;
  font-size: 40px
}

#contact,
#home,
#abt {
  margin-top: -14px
}


a {
  margin-right: -1px;
}