

.topnav{
font-size: 40px;
background-color:black;
/*background-color:#E80000;*/
position: fixed;
font-family: Helvetica ;
color: azure;
text-align: end;
position: fixed;
top: 0;
padding: -15px 100px;
height: 40px;

}

ul{
  
list-style-type: none;
margin-top: -10px;
padding: 0;
}

li{
    margin: 10px;
    padding: 0;
    display: inline-block;

}

.vbar{ 
    color: azure;
    font-size: 40px;
    font-family: Helvetica ;
    background-color: #4d4d4d;
    position: fixed;
    top: 71px;
    height: 100%;

  
    width: 290px;
 background: size 120px;
 margin-top: -30px;


}
.main{
    margin-left: 290px;
    margin-top: 70px;
}

body{
    background-image: url('back4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1 {
	margin-top: 35px;
	font-size: 100px;
	color: azure;
	font-family: helvetica;
	position: absolute;
	left: 20px;
	top: 460px
	}

h2 {
	font-size: 100px;
	color: azure;
	font-family:Helvetica;
	position: auto;
	left: 20px
	top:100px;
}


#htbn {
	margin-left: 100px;
	margin-top: 170px;
	font-size: 50px;
	padding: 5px 70px;
	background-color: red;

}


.best {
	display: grid;
	grid-template-columns: auto;
}





.column {
    display: grid;
    grid-template-columns: auto
}

img{
   margin: auto;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
    border-radius: 5%; 
   width:400px;
   height:200px;
   border: 2px solid  rgba( 232, 0,0,1)  ;
   display: flex ;
     
}

img:hover {
    transform: scale(1.4); 
   }

#key,
#ms,
#hd,
#mp {
	position: relative;
	top: 200px
}

