

.topnav{
font-size: 40px;
background-color:black;
/*background-color:#E80000;*/
position: fixed;
font-family: Helvetica ;
color: azure;
text-align: end;
position: fixed;
top: 0;
padding: -15px 100px;
height: 40px;

}

ul{
  
list-style-type: none;
margin-top: -10px;
padding: 0;
}

li{
    margin: 10px;
    padding: 0;
    display: inline-block;


}
.main{
    margin-left: 290px;
    margin-top: 70px;
}

body{
    background-image: url('back4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.column {
    display: grid;
    grid-template-columns: auto
}